h5 {
	font-size: 1.4rem;
	font-weight: 300;
}

nav {
	border-bottom: 5px solid #1e88e5;
}

#webcontent {
	display: none;
}

#progress {
	margin-top: 30%;
	margin-bottom: 30%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#content1 {
	min-height: 570px;
	padding-top: 55px; 
	background: url('../images/d.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-bottom: 55px;
}

#profileheader {
	padding: 5px 20px;
	margin-bottom: 2px;
}

#tripheader {
	margin-top: -2px;
}

#buslist {
	margin-top: -16px;
	box-shadow: none;
	border-top-color: white;
	line-height: 10px;
}

#buslist .collapsible-header {
	padding: 10px 0;
}

#buslist .collapsible-header:hover {
	background: #eeeeee;
}

.formcontainer {
	border: 2px solid white;
	background: rgba(0,0,0,0.8);
	padding: 30px;
}

.formcontainer input[type=text] {
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 0px;
    outline: none;
    height: 2.3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 -10px 0;
    padding: 0 0 0 8px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.formcontainer input[type=text]:focus {
	outline: none;
	border: 1px solid #1e88e5;
}

.btn {
	text-transform: none;
}

.toggle {
	margin-top: -15px;
}

.to {
	margin-top: -43px;
}

#loginbox {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 30px 30px 20px 30px;
}

.circle {
	padding 10px;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

.tickets {
	border-radius: 5px; 
	margin-bottom: 14px;
	padding: 10px;
}

.aboutus {
	margin-top: 5px;
	background: url('../images/banner.jpg');
	min-height: 600px;
	background-size: cover;
	margin-bottom: 13px;
	padding-top: 70px;
}

.aboutuscontent {
	padding: 30px;
	background-color: rgba(255,255,255,0.9);
	font-size: 18px;
}

small {
	font-size: 90%;
}

#busname, #time, #seats, #price {
	margin-bottom: 0;
	font-size: 1.1rem;
}
