h5 {
	font-size: 1.4rem;
	font-weight: 300;
}

nav {
	border-bottom: 5px solid #e53935;
}

#webcontent {
	display: none;
}

#progress {
	margin-top: 30%;
	margin-bottom: 30%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}


#loginbox {
	padding: 20px 40px;
	margin-top: 60px;
	margin-bottom: 40px;
	background: rgba(255,255,255,0.9); 
}

.btn {
	text-transform: none;
}

.circle {
	padding 10px;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

#profileheader {
	padding: 8px 20px;
}

.tabs {
	margin-top: -15px;
}

.buslist {
	margin-top: -18px;
	border-bottom: 1px solid #bdbdbd;
}

.buslist:hover {
	background-color: #f5f5f5;
}

.busform {
	padding: 40px 40px;
	margin-top: 40px;
}

#boardingform input[type=text], #boardingform input[type=time],
#droppingform input[type=text], #droppingform input[type=time] {
	
	border-radius: 3px;
	border: 1px solid black;
	padding: 0 0 0 5px;
	margin-bottom: 0;
}

.inputfields {
	margin-top: 40px;
}
